<IfModule mod_rewrite.c>
  <IfModule mod_negotiation.c>
    Options -MultiViews
  </IfModule>
 
  RewriteEngine On
  RewriteBase /celeste/
 
  # Redirect Trailing Slashes...
  RewriteRule ^(.*)/$ /$1 [L,R=301]
 
  # Handle Front Controller...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
