@font-face {
    font-family: Renogare;
    src: url("public/Renogare-Regular.otf") format("opentype");
}

body{
    max-width:650px;
    margin:0 auto;
    color: #444;
    font-family:"Helvetica, Arial, sans-serif";
}

#layout{
    padding: 0 10px;
}
.footer{
    position:absolute;
    padding: 16px;
    font-size: 12px;
}
.celeste-font{
    font-family: 'Renogare', Arial, sans-serif;
}
.subhead{
    margin-top: 1em;
    color: #888;
}
@media only screen and (min-width:768px){
    .chapter-header{
        min-width: 140px;
    }
}

.trigger {
  input[type="checkbox"] {
    
    // Hide content via default
    & + span {
      visibility: hidden;
      opacity: 0;
    
      transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    }
    
    // Show if checkbox is clicked
    &:checked + span {
      visibility: visible;
      opacity: 1;
      
      transition-delay: 0s;
    }
  }
}

// Simple styling for message.
.msg {
  display: block;
  margin-top: 8px;
  padding: 8px 12px;
  
  border: 1px solid #ddd;
  border-radius: 3px;
}